*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
.box{
	height:500px;
	width:500px;
	background-image:url(https://media.istockphoto.com/id/1312447551/photo/business-woman-at-office-stock-photo.jpg?s=612x612&w=0&k=20&c=AE2Pew-VIYVSmY4wOZcK6bPV2AKgbwSRUVGMnFhyS-Y=);	
	background-repeat:no-repeat;
	border-style:solid;
	border-width:10px;
	border-color:black;
	margin:15px;
	border-radius:30% 70% 70% 30% / 30% 30% 70% 70% ;
}
a{
	background-color:blue;
	color:white;
	padding:10px;
	margin:5px;
	display:inline-block;
}
.box1{
	height:250px;
	width:250px;
	background-image:url(https://media.tenor.com/SOfmVD7bk24AAAAM/littlebitofab-hula.gif);	
	background-repeat:no-repeat;
	border-style:solid;
	border-width:10px;
	border-color:gray;
	margin:15px;
	border-radius:30% 70% 70% 30% / 30% 30% 70% 70% ;
}